<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuZuRj692YxcgZk9mk0nii0MBlo5EePJg</string>
	<key>GCM_SENDER_ID</key>
	<string>750785903787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.jobhub</string>
	<key>PROJECT_ID</key>
	<string>pj-jobhub</string>
	<key>STORAGE_BUCKET</key>
	<string>pj-jobhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750785903787:ios:27c3c621e7cbbfdaffcbee</string>
</dict>
</plist>